body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button{
    color:green;
    background-color: orange;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    width:20%;
}
.quotes-display{
    width:70%;
    height:inherit;
}